.btn-container-increment {
    display: flex;
    background-color: white;
    border:solid 1px rgb(202, 202, 202);
    border-radius: 4px;
    width: fit-content;
    padding: 7px;
    align-items: center;
}

.value-increment {
    text-align: center;
    width: 90px;
    background: none;
    border: none;
    font-weight: 600;
}

.btn-increment {
    background:none;
    border:none;
    cursor: pointer;
    color: #4041b7;
    font-size: 19px;
}

.btn-add-to-cart {
 
    border: solid 2px #4041b7;
    background-color: white;
    color: #4041b7;
    border-radius: 4px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.btn-add-to-cart:disabled {
    border: solid 2px #585aca8e;
    color: #585aca8e;
}